# Dependências de build (mínimas)
# Use juntamente com requirements.txt quando for empacotar

pyinstaller>=6.14.2
pillow>=10.4.0
cairosvg>=2.7.1

# Específicos por plataforma
pywin32>=306; platform_system=="Windows"
upx4py>=0.1.0; platform_system=="Windows"
dmgbuild>=1.4.0; platform_system=="Darwin"
patchelf>=0.17.0; platform_system=="Linux"
